* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: hwb(0 94% 6%);
}

.game-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.setup-container {
  margin-bottom: 20px;
}

.ships-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.ship {
  background-color: #ddd;
  padding: 5px;
  border: 1px solid #000;
  cursor: grab;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ship.vertical {
  width: 30px;
  height: calc(30px * var(--length));
}

.ship.horizontal {
  height: 30px;
  width: calc(30px * var(--length));
}

.input-container {
  margin: 5px 0;
}

.board-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}

.board-wrapper {
  display: flex;
}

.board-labels {
  display: grid;
  grid-template-columns: repeat(11, 30px);
  gap: 1px;
}

.row-labels {
  padding-top: 1px;
  display: grid;
  grid-template-rows: repeat(10, 30px);
  gap: 1px;
  width: 30px;
}

.row-labels div,
.board-labels div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(10, 30px);
  gap: 1px;
  border: 1px solid #000;
}

.board div {
  min-width: 30px;
  min-height: 30px;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.board .hit {
  background-color: red;
}

.board .miss {
  background-color: white;
}

#new-game-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.user-board {
  background-color: #e0f7fa;
}

.computer-board {
  background-color: #ffebee;
}

#game-result {
  display: none;
}
